@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "futura-pt", "fot-udkakugo-large-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: black;
}

.now {
  position: relative;
  color: black;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  display: grid;
  place-items: center;
  background-color: rgb(254 249 195);
}

.now::after {
  content: "";
  position: absolute;
  right: -48px;
  border-left: 24px solid rgb(254 249 195);
  border-top: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
  z-index: 40;
}

.upcoming {
  position: relative;
  color: black;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250 204 21);
}

.upcoming::after {
  content: "";
  position: absolute;
  right: -48px;
  border-left: 24px solid rgb(250 204 21);
  border-top: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
  z-index: 30;
}

.third-show {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29 78 216);
}

.information {
  background-color: rgba(15, 23, 42, 0.9);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.ad {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  display: none;
}

.ad-content {
  height: 100%;
  width: 100%;
  position: relative;
}

.ad-content::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: width 3s linear;
  mix-blend-mode: difference;
  z-index: 1;
}

.Display {
  background-image: linear-gradient(
      0deg,
      transparent 15px,
      rgb(25, 36, 61) 16px
    ),
    linear-gradient(90deg, transparent 15px, rgb(25, 36, 61) 16px);
  background-color: rgb(30 41 59);
  background-size: 16px 16px;
}
